templates/word/Cobaem.dotx
iniciar.sh
.env(backup)
CONTEXTO_KOFU.md
INSTRUCCIONES_PROCESO.md
.vscode
backend/DEFOKO CATZ.ico
.env.example
backend/server.py
.vscode/launch.json
.vscode/settings.json
backend/src/venv
CONTEXTO_KOFU.md
Proyecto_Kofu(0.8).code-workspace
CAMBIOS.md
request_http.py
serverhppd.py
backend/src/__pycache__
Proyecto_Kofu_v0.9.code-workspace
env
debug.html

# Archivos no vitales
.env
.sync-exclude.lst
Archivos/
Propuestas/
output/
*.bak
*.log
monitor.py